[user]
    name = Caio Romão
    email = caioromao@gmail.com

[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
    logg = log --pretty=oneline
    loga = log --pretty=format:'%Cblue %h %Cgreen %an %Creset %s'

[core]
    editor = vim

[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[url "git@github.com:caio/"]
    insteadOf = github:
