[submodule "config/nvim/pack/ext/start/vim-renamer"]
	path = config/nvim/pack/ext/start/vim-renamer
	url = https://github.com/qpkorr/vim-renamer
[submodule "config/nvim/pack/ext/start/vim-surround"]
	path = config/nvim/pack/ext/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "config/nvim/pack/ext/start/vim-commentary"]
	path = config/nvim/pack/ext/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "config/nvim/pack/ext/start/vim-repeat"]
	path = config/nvim/pack/ext/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "config/nvim/pack/ext/start/vim-fugitive"]
	path = config/nvim/pack/ext/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "config/nvim/pack/ext/start/nvim-autopairs"]
	path = config/nvim/pack/ext/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "config/nvim/pack/ext/start/plenary.nvim"]
	path = config/nvim/pack/ext/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "config/nvim/pack/ext/start/telescope.nvim"]
	path = config/nvim/pack/ext/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
	branch = 0.1.x
