<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="nobox">
		<item label="term">
			<action name="Execute">
				<execute>
					urxvt
				</execute>
			</action>
		</item>
		<item label="browser">
			<action name="Execute">
				<execute>
					firefox
				</execute>
			</action>
		</item>
		<separator/>
		<menu id="sys-menu" label="sys">
			<item label="obconf">
				<action name="Execute">
					<execute>
						obconf
					</execute>
				</action>
			</item>
			<separator/>
			<item label="exit">
				<action name="Exit"/>
			</item>
		</menu>
	</menu>
</openbox_menu>
